html, body {
    height: 100vh;
    margin: 0;
    background-color: rgb(41, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    padding: 10px;
    /*background-color: rgb(101, 101, 101);*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
    width: 80vw;
    height: 80vh;
}

#encounter {
    width: 100px;
    display: flex;
    flex-direction: column;
    color:white;
    visibility: hidden;
}

button {
    margin: 6px;
}

.cell {
    background-color: #eaeaea;
    border-radius: 5px;
    border: 1px solid white;
    background-size: cover;
    display: flex;
}

.player {
    background-color: #7f3131;
    border: 10px solid #7f3131;
}

.Plumber {
    background-image: url('images/plumber.webp');
}

.Villager {
    background-image: url('images/villager.webp');
}

.Chef {
    background-image: url('images/chef.webp');
}

.Carpenter {
    background-image: url('images/carpenter.webp');
}

.Client {
    background-image: url('images/client.webp');
}
