html, body {
    height: 100vh;
    margin: 0;
    background-color: rgb(41, 37, 37);
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    align-items: center;
}

.grid {
    margin: 10px;
    background-color: rgba(101, 101, 101, 0.4);
    display: grid;
    gap: 0;
    justify-content: center;
    align-content: center;
    width: 100vmin;
    height: 100vmin;
}

#map {
    flex: 4;
}

#log {
    flex: 1;
    background-color: #333;
    margin: 0 0 10px 0;
    color: white;
    width: 100vmin;
    border: 1px solid gold;
    resize: none;
    outline: none;
}

#encounter {
    transform: translate(0, 50%);
    display: flex;
    flex-direction: column;
    color:white;
    background-color: #7f3131;
    position: fixed;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
}

button {
    margin: 6px;
}

.cell {
    background-color: #eaeaea;
    border: 1px solid white;
    background-size: cover;
    display: flex;
}

.player {
    background-color: #7f3131;
    border: 10px solid #7f3131;
}

.Plumber {
    background-image: url('images/plumber.webp');
}

.Villager {
    background-image: url('images/villager.webp');
}

.Chef {
    background-image: url('images/chef.webp');
}

.Carpenter {
    background-image: url('images/carpenter.webp');
}

.Client {
    background-image: url('images/client.webp');
}
